{% extends 'base.html' %}
{% block content %}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body user-view">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Save changes</button>
                    </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}