{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/_all-skins.css' %}">
</head>

<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="h5 modal-title text-center">
                        <h4 class="mt-2">
                            <div>Welcome back.</div>
                            <span style="color: #a7a7a7">Please sign in to your account below.</span>
                        </h4>
                        <br>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                {{ form|crispy }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <div class="float-right">
                        <div class="float-left"><a href="{% url 'src:password_reset' %}" class="btn btn-link">Recover
                            Password</a></div>
                        <button class="btn btn-primary btn-lg">Login</button>
                        <small> Do not have an account?</small>
                        <strong><a class="btn btn-link" href="{% url 'src:register' %}">SignUp</a></strong>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>