{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="content">
    <div class="box" style="width:70rem;margin-left:50px;">
        <div class="box-body">
            <div class="row-12">
                <div class="col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Create</button>
                       </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}